<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand">To Do App</a>
		<span class="navbar-text">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav_item">
					<a class="nav-link active" href="{% url 'todolist:index' %}">Home</a>
				</li>
				<li class="nav_item">
					<a class="nav-link active" href="{% url 'todolist:add_task' %}">Add Task</a>
				</li>
				<li class="nav_item">
					<a class="nav-link active" href="{% url 'todolist:add_event' %}">Add Event</a>
				</li>
				<li class="nav_item">
					<a class="nav-link active" href="{% url 'todolist:update_profile' %}">Update Profile</a>
				</li>
				<li class="nav_item">
					<a class="nav-link active" href="{% url 'todolist:login' %}">Login</a>
				</li>
				<li class="nav_item">
					<a class="nav-link active" href="{% url 'todolist:register' %}">Register</a>
				</li>
				<li class="nav_item">
					<a class="nav-link active" href="{% url 'todolist:logout' %}">Logout</a>
				</li>
			</ul>
		</span>
	</div>
</nav>