{% extends 'base.html' %}

<!-- Provides the title of the page to be provided in the template -->
<!-- This should correspond with the block name provided in the base.html file -->
{% block title %}Home{% endblock %}

<!-- Provides the content of the page to be provided in the template -->
<!-- This should correspond with the block name provided in the base.html file -->
{% block content %}
	{% if user.is_anonymous == False %}
		<h1 class="text-center my-3">Welcome, {{user.first_name}} {{user.last_name}}!</h1>
			<div class="container">
				<div class="row">
					<h3 class="text-center my-3">My Tasks</h3>
					{% if todoitem_list %}
						<ul class="list-group col-lg-2 offset-lg-5 text-center">
							{% for todoitem in todoitem_list %}
								<li class="list-group-item">
									<a href="{% url 'todolist:viewtodoitem' todoitem.id %}">
									{{todoitem.task_name}} 
									</a>
								</li>
							{% endfor %}
						</ul>
					{% else %}
						<p class="text-center">No tasks have been created.</p>
					{% endif %}
				</div>
				<div class="row">
					<h3 class="text-center my-3">My Events</h3>
					{% if event_list %}
						<ul class="list-group col-lg-2 offset-lg-5 text-center">
							{% for event in event_list %}
								<li class="list-group-item">
									<a href="{% url 'todolist:viewevent' event.id %}">
									{{event.event_name}} 
									</a>
								</li>
							{% endfor %}
						</ul>
					{% else %}
						<p class="text-center">No events have been created.</p>
					{% endif %}
				</div>
			</div>
	{% elif user.is_anonymous == True %}
		<h1 class="text-center my-3">You are not authorized to access this page.</h1>
		<p class="text-center">Kindly login <a href="login">here</a> </p>

	{% endif %}
{% endblock %}